<div class="container-content">
  <div class="bucket-name" class="header-text">
    <h3 id="bucket-title" class="bucket-title">{{bucketService.bucketLoaded?bucketService.bucket.name:''}}</h3>
  </div>
  <div class="bucket-list">

    <div class="bucket-tabs">
      <div class="bucket-tab">Files</div>
      <div class="bucket-tab bucket-tab-inactive" [routerLink]="['/bucket-details/',bucketID]">Details</div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" style="padding-top:10px;">
          All Files ({{bucketService.filesLoaded? bucketService.files.length:''}})
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default deleteBtn" [disabled]="!deleteEnabled" style="float:right;width:100%;" (click)="deleteFile()">
            Delete object
          </button>
        </div>
        <div class="col-sm-3">
          <input type="file" id="fileLoader" #fileInput name="files" title="loadFile" style="display:none" (change)="upload($event.target.files)"
          />
          <button [disabled]="startupload" class="btn btn-default" id="addButton" style="float:right;width:100%;" (click)="fileInput.click()">
            {{startupload ? percentDone + '%' : 'Upload Object'}}
          </button>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover" *ngIf="bucketService.filesLoaded">
            <thead class="thead-inverse">
              <tr>
                <th class="col-sm-4" style="width:80%">Name</th>
                <th class="col-sm-5">Last modified</th>
                <th class="col-sm-3">Size</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of bucketService.files;let i = index" (click)="selectFile(file,i)" [class.active]="i == selectedRow">
                <td class="filename"><i class="fa fa-file" style="padding-right:10px"></i>{{file.name}}</td>
                <td>{{file.last_modified | date:'dd.MM.yyyy'}}</td>
                <td #filesize id="filesize" class="filesize">{{file.size | bytes}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>