@import '../../../assets/css/_variables.scss';
.bucket-list {
  @include divs-shadow();

  .container-fluid {
    border-top-left-radius: 5px;
    .row {
      .col-sm-10 {
        padding-top: 10px;
      }
      .col-sm-2 {
        button {
          float: right;
        }
      }
    }
  }
}
