<div class="container-content">

  <div *ngIf="createNewBucket">
    <app-bucket-create (create)="newBucketCreated($event)"></app-bucket-create>
  </div>

  <h3 class="header-text">Bucket List</h3>
  <div class="bucket-list">


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10">
          All buckets ({{bucketListService.bucketsLoaded?bucketListService.buckets.length:''}})
        </div>
        <div class="col-sm-2">
          <button type="button" class="createBucket" id="createBucket" class="btn btn-default" *ngIf="visibleButton" (click)="createBucket()">Create
            new bucket</button>
        </div>
      </div>
      <div class="row bucket-list">
        <div class="col-sm-12">
          <table class="table table-hover" *ngIf="bucketListService.bucketsLoaded">
            <thead class="thead-inverse">
              <tr>
                <th class="col-sm-6">Name</th>
                <th class="col-sm-4">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr id="test" *ngFor="let bucket of bucketListService.buckets" [routerLink]="['/bucket-files-list/',bucket.id]">
                <td>
                  <div id="bucketname" class="bucketname">{{bucket.name}}</div>
                </td>
                <td>{{bucket.location.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>