<div class="container-content">
  <div class="bucket-name" class="header-text">
    <h3>{{bucketService.bucket.name}}</h3>
  </div>
  <div class="bucket-list">

    <div class="bucket-tabs" style="width:100%;">
      <div class="bucket-tab bucket-tab-inactive" [routerLink]="['/bucket-files-list/',bucketID]">Files</div>
      <div class="bucket-tab">Details</div>
      <button type="button" class="btn btn-danger" style="float:right;" (click)="deleteDialog()">Delete Object</button>
    </div>


    <div class="container-fluid">
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Bucket name:</label>
        </div>
        <div class="col-sm-2">
          <label>{{bucketService.bucket.name}}</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Location:</label>
        </div>
        <div class="col-sm-2">
          <label>{{bucketService.bucket.location.name}}</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Storage size:</label>
        </div>
        <div class="col-sm-2">
          <label>{{bucketService.storageSize | bytes}}</label>
        </div>
      </div>
    </div>
  </div>
</div>